.home{
	@extend .container-fluid;
	background-color: #F1C40F;
	padding: 4rem 1rem;

	.home-caption{
		@extend .col-xs-12;
		text-align: center;
		
		.adinfo{			
				color: #ECF0F1;
				font-size: 250%;
				text-align: center;
				@media(min-width: map-get($grid-breakpoints,lg)){
					font-size: 4rem;
					}
			.img-caption{
				background-color: #F1C40F;
				text-align: center;

			}
		}
		.home-span{
			color: #34495E;
			font-weight: 500;
			font-size: 120%;

		}
		.face-span{
			@extend .col-xs-12;
			.img-span{
				padding-top: 1.2rem;
			}

		}
	}
}